html{
    scroll-behavior: smooth;
}

body{
    background-color: #768a95;
}

header{
    position: fixed;
}

#cards{
    display: inline-block;
}

.img-responsive{
    max-height: 317px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #e9ecef;
    overflow: hidden;
    position: fixed;
}

.btn.btn-link{
    color: #3b4351;
}

a:visited{
    color: #3b4351;;
}

.github{
    color: #3b4351;   
}
