html{
    scroll-behavior: smooth;
}

body{
    background-color: #768a95;
}

#cards{
    display: inline-block;
}

.img-responsive{
    max-height: 317px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #e9ecef;
}

a{
    color: #747677;
}

